@import "mocha.css";

* {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 16px;
}

window#waybar {
  background-color: transparent;
  color: @text;
}

#workspaces button {
  padding: 0 5px;
  margin: 0 2px;
  border-radius: 14px;
}

#workspaces button:hover {
  background: rgba(80, 80, 80, 0.8);
}

#workspaces button.active {
  background-color: @text;
  color: @crust;
  padding: 0 14px;
}

#workspaces button.focused {
  background-color: @text;
  color: @crust;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

.modules-center {
  padding: 2px 10px;
  background-color: @crust;
  border-radius: 14px;
}

/*#clock,*/
#battery,
#temperature,
#network,
#pulseaudio,
#bluetooth,
#language,
#memory,
#cpu,
#backlight {
  padding: 0 14px;
  margin: 0 4px;
  background-color: @crust;
  border-radius: 14px;
}

#clock {
  background-color: @text;
  color: @crust;
  padding: 0 14px;
  margin: 0 4px;
  border-radius: 14px;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio:hover,
#bluetooth:hover {
  background-color: @surface2;
}

#memory.warning {
  color: @maroon;
}

#memory.critical {
  color: @red; 
}
